{% extends "base.html" %}

{% block title %}
    biaot
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/vue-resource.js"></script>
    <script src="/static/js/vue.min.js"></script>
{% endblock %}
{% block content %}
<div class="container">
  <div class="con_content">
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人日记</a></span><b>个人日记</b></h2>
        {% verbatim myblock %}
      <div class="dtxw box" id="dataList">
        <li v-for="page in page_data ">
          <div class="dttext f_l">
            <ul>
              <h2><a v-bind:href="['/vuesource/?id='+page.id]">{{ page.title }}</a></h2>
              <p v-html="page.description">{{ page.description }}</p>
              <span>{{ page.time }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img v-bind:src="['/static/'+page.picture]"></a></div>
        </li>
      <div class="pagelist">
          <a v-for="p in prange" v-on:click="getPage(p)">{{ p }}</a>
      </div>
      </div>

        {% endverbatim myblock %}
      <div class="pagelist">页次：1/1 每页25 总数10<a href="/">首页</a><a href="/">上一页</a><a href="/">下一页</a><a href="/">尾页</a></div>
    </div>
  </div>
  <div class="blank"></div>
  <!-- container代码 结束 -->
</div>
    <script>
        Vue.use(VueResource);
        new Vue(
            {
                el:"#dataList",
                data: {
                    page_data:"",
                    prange:"",
                },
                //created 方法在初始化调用得时候，相当于我们第一页，也就是说page=1
                created:function () {
                    var url = "/vuesource/";
                    this.$http.get(url).then(
                        function (data) {
                            console.log(data)
                            // 用ajax返回得数据更新到我们绑定好得数据当中
                            this.page_data = data["data"]["page_data"]
                            this.prange = data["data"]["prange"]
                            console.log(this.page_data)
                            console.log(this.prange)
                        },
                        function (error) {
                            console.log(error)
                        }
                    )
                },
                methods: {
                    getPage: function (page) {
                        var url="/vuesource/?page="+page;
                        this.$http.get(url).then(
                            function (data) {
                                 this.page_data = data["data"]["page_data"]
                                 this.prange = data["data"]["prange"]
                            }
                        )
                    }
                }
            }
        )
    </script>


{% endblock %}